<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>p-adic Not Found</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css" />
        <style>
         body {
             font-family: 'Avenir Next', Quicksand, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'Hiragino Kaku Gothic Pro', sans-serif;
             font-size: 99%;
             line-height: 2em;
             background-color: #ffffe0;
             color: #555;
         }
         header {
             overflow: hidden;
             height: 9em; /* ? */
             width: 100%;
         }
         .main-nav {
             display: flex;
             position: relative;
	         height: 44px;
             visibility: visible;
             height: 5em;
             width: 100%;
             overflow-x: auto;
             -webkit-overflow-scrolling: touch;
         }
         .main-nav ul {
	         height: 44px;
             display: inline-table;
             max-width: 100%;
         }
         .main-nav li {
             float: left;
             word-wrap: break-word;
             display: table-cell;
             text-align: -webkit-match-parent;
             white-space: nowrap;
             padding: 0 12px;
             /* flex: 1;
                display: inline-block; */
             list-style: none;
         }
         main {
             margin: 0 auto;
             flex: 1;
             /* background: #c0f0f0; */
             padding: 10px;
         }
         aside {
             width: 30%;
             /* background: #f0c0f0; */
             padding: 10px;
         }
         footer {
             font-size: smaller;
             text-align: center;
         }
         @media (min-width: 600px) {
             #main-container {
                 display: flex;
                 margin: 0 auto;
                 max-width: 800px;
             }
             .main {
                 margin: 0 10px 0 0;
             }
         }
        </style>
        <script>
        </script>
    </head>
    <body>
        <header>
            <h1>Hey! World!</h1>
            <nav class="main-nav">
                <ul style="width: 1000px;">
                    <li>menu A</li>
                    <li>menu B</li>
                    <li>menu C</li>
                    <li>menu D</li>
                    <li>menu E</li>
                    <li>menu F</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>

        <div id="main-container">

            <main role="main">
                <article>
                    <h2>Main</h2>

                    <section>
                        <p>
                            A is B.
                            B is C.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non magna vel enim lacinia ultricies. Cras accumsan nunc in orci accumsan eleifend. Donec sed hendrerit felis. Proin sollicitudin eros vel suscipit euismod. Sed eget justo mi. Cras nec porta risus. Quisque nec sagittis nibh.
                        </p>
                        <p>
                            Curabitur sit amet finibus quam. In in odio hendrerit, gravida sapien ultricies, vestibulum massa. Curabitur non est sed lorem iaculis ullamcorper in convallis libero. Nulla ornare pharetra dui a tempus. Quisque imperdiet dapibus dui, in hendrerit dui viverra id. Donec lobortis commodo quam et dapibus. Curabitur diam ante, varius sed gravida sit amet, commodo at justo. Integer molestie, erat ac posuere commodo, risus odio feugiat nisl, in commodo tellus dui vel dui. Vestibulum commodo vehicula pretium.
                        </p>
                        <p>

                            Phasellus quis dui ligula. Duis eget purus velit. Nullam scelerisque nisi leo, nec bibendum lacus ornare non. Nam sit amet eros arcu. Integer urna magna, rhoncus rutrum diam sed, gravida maximus ex. Vestibulum quis arcu ligula. Etiam porta magna sed turpis congue cursus non in dui. Praesent lectus nisi, condimentum sit amet risus quis, malesuada imperdiet est. Nullam mollis porta suscipit. Fusce lorem neque, egestas a arcu vel, ultrices laoreet odio.
                        </p>
                        <p>

                            Duis ac dui vitae dolor egestas semper. Pellentesque non eros sed nulla consequat tempus nec at nulla. Sed molestie congue malesuada. Praesent ligula justo, hendrerit et rhoncus et, congue et ipsum. Vestibulum suscipit tempor metus, ac ultricies massa posuere id. Etiam egestas suscipit quam in dictum. In hac habitasse platea dictumst. In ultrices ornare varius. Cras finibus diam sapien, in imperdiet velit euismod nec. Mauris sapien sem, varius sit amet elit ac, tempor finibus justo. Nullam eu augue quis lorem vehicula venenatis. Suspendisse id ex venenatis, vulputate augue a, interdum nulla. Vivamus porta elit ac augue commodo fermentum. Pellentesque ac nulla feugiat, tincidunt ipsum eu, vulputate turpis. Aliquam eleifend et quam eget rutrum. In in nisl eget lacus tincidunt volutpat.
                        </p>
                        <p>

                            Nulla sed scelerisque odio. Duis odio sem, vestibulum sed semper consequat, egestas id erat. In consectetur nisi condimentum, hendrerit libero non, semper mauris. Nunc et purus mauris. Proin semper lacus sit amet hendrerit ullamcorper. Nunc blandit, arcu sed ullamcorper pulvinar, augue odio venenatis arcu, ac consectetur leo erat molestie orci. Etiam sed egestas eros. Nunc vulputate blandit magna sit amet luctus. Phasellus sed fermentum lorem.

                        </p>
                    </section>

                    <section>
                        <p>
                            　佳子よしこは、毎朝、夫の登庁とうちょうを見送って了しまうと、それはいつも十時を過ぎるのだが、やっと自分のからだになって、洋館の方の、夫と共用の書斎へ、とじ籠こもるのが例になっていた。そこで、彼女は今、Ｋ雑誌のこの夏の増大号にのせる為の、長い創作にとりかかっているのだった。
                            　美しい閨秀けいしゅう作家としての彼女は、此この頃ごろでは、外務省書記官である夫君の影を薄く思わせる程も、有名になっていた。彼女の所へは、毎日の様に未知の崇拝者達からの手紙が、幾通となくやって来た。
                            　今朝けさとても、彼女は、書斎の机の前に坐ると、仕事にとりかかる前に、先まず、それらの未知の人々からの手紙に、目を通さねばならなかった。
                            　それは何いずれも、極きまり切った様に、つまらぬ文句のものばかりであったが、彼女は、女の優しい心遣こころづかいから、どの様な手紙であろうとも、自分に宛あてられたものは、兎とも角かくも、一通りは読んで見ることにしていた。
                            　簡単なものから先にして、二通の封書と、一葉のはがきとを見て了うと、あとにはかさ高い原稿らしい一通が残った。別段通知の手紙は貰もらっていないけれど、そうして、突然原稿を送って来る例は、これまでにしても、よくあることだった。それは、多くの場合、長々しく退屈極る代物であったけれど、彼女は兎も角も、表題丈だけでも見て置こうと、封を切って、中の紙束を取出して見た。
                            　それは、思った通り、原稿用紙を綴とじたものであった。が、どうしたことか、表題も署名もなく、突然「奥様」という、呼びかけの言葉で始まっているのだった。ハテナ、では、やっぱり手紙なのかしら、そう思って、何気なく二行三行と目を走らせて行く内に、彼女は、そこから、何となく異常な、妙に気味悪いものを予感した。そして、持前もちまえの好奇心が、彼女をして、ぐんぐん、先を読ませて行くのであった。
                        </p>
                        <p>
                            奥様、
                            　奥様の方では、少しも御存じのない男から、突然、此様このような無躾ぶしつけな御手紙を、差上げます罪を、幾重いくえにもお許し下さいませ。
                            　こんなことを申上げますと、奥様は、さぞかしびっくりなさる事で御座いましょうが、私は今、あなたの前に、私の犯して来ました、世にも不思議な罪悪を、告白しようとしているのでございます。
                            　私は数ヶ月の間、全く人間界から姿を隠して、本当に、悪魔の様な生活を続けて参りました。勿論もちろん、広い世界に誰一人、私の所業を知るものはありません。若もし、何事もなければ、私は、このまま永久に、人間界に立帰ることはなかったかも知れないのでございます。
                            　ところが、近頃になりまして、私の心にある不思議な変化が起りました。そして、どうしても、この、私の因果な身の上を、懺悔ざんげしないではいられなくなりました。ただ、かように申しましたばかりでは、色々御不審ごふしんに思召おぼしめす点もございましょうが、どうか、兎も角も、この手紙を終りまで御読み下さいませ。そうすれば、何故なぜ、私がそんな気持になったのか。又何故、この告白を、殊更ことさら奥様に聞いて頂かねばならぬのか、それらのことが、悉ことごとく明白になるでございましょう。
                        </p>
                    </section>

                </article>
            </main>

            <aside>
                <%= sidemenu %>
            </aside>

        </div>
        
        <footer>
            <p><%= copyright %></p>
        </footer>
    </body>
</html>
