<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= page_title %></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection">
        <style>
        </style>
        <script>
        </script>
    </head>
    <body>
        <header>
            <h1>Hey! World!</h1>
            <nav class="main-nav">
                <ul style="width: 1000px;">
                    <li>menu A</li>
                    <li>menu B</li>
                    <li>menu C</li>
                    <li>menu D</li>
                    <li>menu E</li>
                    <li>menu F</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>

        <div id="main-container">

            <main role="main">
                <%= body_html %>
            </main>

            <aside>
                <%= sidemenu_html %>
            </aside>

        </div>
        
        <footer>
            <p><%= copyright_html %></p>
        </footer>
    </body>
</html>
