body {
    font-family: 'Avenir Next', Quicksand, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 99%;
    line-height: 2em;
    background-color: #ffffe0;
    color: #555;
}
header {
    overflow: hidden;
}
.main-nav {
    display: flex;
    position: relative;
	height: 44px;
    visibility: visible;
    height: 5em;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.main-nav ul {
	height: 44px;
    display: inline-table;
    max-width: 100%;
}
.main-nav li {
    float: left;
    word-wrap: break-word;
    display: table-cell;
    text-align: -webkit-match-parent;
    white-space: nowrap;
    padding: 0 12px;
    list-style: none;
}
main {
    margin: 0 auto;
    flex: 1;
    padding: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
main > h2 {
    margin-top: 2em;
    border-left: 4px solid #a0c9df;
    padding-left: 8px;
}
li {
    margin-left: 1em;
}
header, aside {
    padding: 8px;
}
footer {
    font-size: smaller;
    text-align: center;
}
@media (min-width: 800px) {
    header, #main-container {
        margin: 0 auto;
        max-width: 1000px;
    }
    #main-container {
        display: flex;
    }
    nav {
        float: right;
    }
    main {
        margin: 0 10px 0 0;
        padding: 20px;
    }
    aside {
        font-size: 90%;
        width: 30%;
        padding: 10px;
    }
}
